/* body{
    background-color: rgb(45, 44, 44);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, Arial;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1f1c2c, #928DAB);
}

#parent {
    width: 380px;
    background: #4f7698;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #4b0082;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 6px 0 15px 0;
    border-radius: 8px;
    border: 1px solid #4074ab;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #6a0dad;
    box-shadow: 0 0 8px rgba(115, 20, 183, 0.5);
}

#inp6 {
    width: 100%;
    padding: 12px;
    border: none;
    background: linear-gradient(135deg, #6a0dad, #9b4dff);
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-style:oblique;
}

button:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

#result {
    margin-top: 15px;
    color: #1d062e;
}