/* body{
    background-color: rgb(28, 28, 28);
    color: black;
    height: 100vh;
    position: relative;
}

.circule{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: grow 5s forwards;
    position: absolute;
}

@keyframes grow{
    0%{
        transform: scale(1);
        opacity: 1;
        font-size: 10px;
    }
    100%{
        transform: scale(3);
        opacity: 0;
        font-size: 40px;
    }
} */


body{
    background-color: rgb(28, 28, 28);
    color: black;
    height: 100vh;
    position: relative;
}

.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: grow 3s forwards;
    position: absolute;
    font-weight: bold;
}

@keyframes grow{
    0%{
        transform: scale(1);
        opacity: 1;
        font-size: 10px;
    }
    100%{
        transform: scale(3);
        opacity: 0;
        font-size: 40px;
    }
}
