#red{border-radius: 15px;
background-color: red;}
#blue{border-radius: 15px;
background-color: blue;}
#green{border-radius: 15px;
background-color: green;}
#yellow{border-radius: 15px;
background-color: yellow};
.button{
    cursor: pointer;
}