body{
    background-color: rgb(43, 41, 41);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
div{
        display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    font-size: 175px;
    margin-top: 200px;

color: chocolate;
}