body{
    background-color: #383636;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
h1{
    background-color: rgb(247, 221, 203);
    color: rgb(45, 3, 22);
    margin-top: 45px;
    border-radius: 15px;
    position:fixed;
}
#button{
    font-size: 20px;
border-radius: 10px;
background-color: rgb(247, 221, 203);
color: rgb(38, 2, 8);
cursor: pointer;
position:fixed;

}
